
* {
    box-sizing: border-box;
}

.my-portfolio{
    padding: 25px 0px 25px 0px;
}

header{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgba(4, 4, 49, 0.26) ;
}

.header-img img{
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: contain;
    width: 180px;
    height: 200px;
    position: relative;
    left: 43%;
    bottom: 50px;
}

h1{
    font-size: 3.0rem;
    color: black;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 100px;
    left: 0px;
    padding: 0px;
    width: 100%;
    z-index: 1;
    background-color:rgba(4, 4, 49, 0.26); 
}

nav ul{
    display: flex;
}

nav ul li a {
    height: 40px ;
    line-height: 43px ;
    margin: 10px 40px ;
    padding: 0px, 25px ;
    display: flex;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 800;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover{
    background-color:  rgba(45, 58, 241, 0.486);
    color: white;
    transition: all ease 0.3s;
    border-radius: 10px;
}

ul{
    list-style: none;
    margin: 20px;
}

a{
    text-decoration: none;
}

.me img{
    display: flex;
    border-radius: 100px;
    width: 50%;
    height: 50%;
    object-fit: contain;
    width: 300px;
    border-radius: 50px;
    transform: rotate(90deg);
    position: relative;
    left: 40%;
}

.text{
    background-color: rgba(45, 58, 241, 0.486);
    display: flex;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    position: relative;
    left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 90px;
    padding: 30px 20px;
}

.about-me{
    text-align: center;
    position: relative;
    bottom: 100px;
}

.sc img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    width: 900px;
    border-radius: 100px;
    position: relative;
    left: 300px;
    top: 100px;
    margin: 5px;

}

h2{
    position: relative;
    top: 175px;
    margin: 20px;
    padding: 5px 100px;
    display: inline-block;
    background-color: rgba(4, 4, 49, 0.26);
    height: 100%;
    transform: skew(-10deg);
}

.exp {
    position: relative;
    bottom: 700px;
    text-align: center;
}

.skill-boxes{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    position: relative;
    left: 150px;
    top: 150px;
    z-index: 1;

}
.js-deco:hover{
    background-color:yellow;
    color: black;
    transition: all ease 0.3s;
    border-radius: 10px;

}

.text-js{
    text-align: center;
}

.img-js img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    width: 400px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    margin: 5px;
}

.text-css{
    text-align: center;
}

.img-css img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    width: 200px;
    border-radius: 10px;
    position: relative;
    right: 0px;
    margin: 5px;
}

.css-deco:hover{
    background-color: cornflowerblue ;
    color: black;
    transition: all ease 0.3s;
    border-radius: 10px;
}

.text-html{
    text-align: center;
}

.img-html img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    width: 400px;
    border-radius: 10px;
    position: relative;
    right: 0px;
    margin: 5px;
}

.html-deco:hover{
    background-color:red;
    color: black;
    transition: all ease 0.3s;
    border-radius: 10px;
}

footer{
    text-align: center;
    position: relative;
    top: 5rem;
    background-color: rgba(4, 4, 49, 0.26);
    list-style: none;
}

.reach-me{
    display: flex;  
    margin: 100px;
    padding: 20px;
    font-size: 30px;
}

.contact{
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;
    bottom: 50px;
}

    @media screen and (max-width: 768px ) {
        html {
            background-color: silver;
        }

        header{
            display: flex;
            position: relative;
            left: 100px;
        }
        .header-img{
            display: flex;
            position: relative;
            left: 50px;
        }
        
        body{
            width: 100%;
    
        }
        nav{
            margin-left: 100px;
        }
        .sc{
            display: flex;
            position: relative;
            right: 275px;
        }
        
        h2{
            display: flex;
            position: relative;
            left: 100px;
        }

        .text{
            display: flex;
            position: relative;
            left: 150px;
        }

        footer{
            background-color: rgba(rgba(0, 47, 255, 0.288), green, blue, alpha);
            position: relative;
            left: 100px;
        }


    }

    @media screen and (max-width: 360px) {

        html{
            background-color: blanchedalmond;
        }

        .my-portfolio{
            padding-left: 100px;
            padding-right: 100px;
            position: relative;
            left: 200px;
            border-radius: 10px;

        }
        
        .header-img{
            position: relative;
            left: 150px;
        }

        nav{
            padding-left: 75px;
            padding-right: 100px;
            position: relative;
            left: 100px;
        }

        .exp{
            display: flex;
            position: relative;
            left: 100px;
        }
        
        .sc img{
            position: relative;
            right: 100px;
        }

        .img-js img{
            display: flex;
            position: relative;
            left: 100px;
            padding: 10px;
        }
        
        .img-html img{
            display: flex;
            position: relative;
            left: 100px;
            padding: 10px;
        }

        .img-css img{
            display: flex;
            position: relative;
            left: 100px;
            padding: 10px;
        }

        .text-js{
            position: relative;
            left: 80px;
        }

        .text-css{
            position: relative;
            left: 80px;
        }

        .text-html{
            position: relative;
            left: 80px;
        }

        
    }